@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
.Inicio {
  width: 100vw;
  height: 100vh;
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Inicio h1 {
  font-size: 6em;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}
.Inicio .avatarChoose {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
.Inicio svg {
  width: 80%;
  cursor: pointer;
  height: auto;
}
